<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/favicon.png" rel="icon" type="image/png"/>
    <link href="/feed.xml" rel="alternate" type="application/atom+xml"/>
    <link href="http://amixtureofmusings.com$url$" rel="canonical"/>
    <meta charset="utf-8"/>
    <meta name="author" content="Bryan Feeney"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <header>
      <h1>A Mixture of Musings</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Recent</a></li>
        <li><a href="/archive">Archive</a></li>
        <li class="icon"><a href="mailto:bryan dot feeney at gmail dot com" rel="author"><img src="/images/email.png" alt="Email" /></a></li>
        <li class="icon"><a href="https://twitter.com/budgefeeney"><img src="/images/twitter.png" alt="Twitter" /></a></li>
        <li class="icon"><a href="https://github.com/budgefeeney"><img src="/images/github.png" alt="GitHub" /></a></li>
        <li class="icon"><a href="https://uk.linkedin.com/in/bryanfeeney"><img src="/images/linkedin.png" alt="LinkedIn" /></a></li>
      </ul>
    </nav>
